<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style1.css" /
    <title>Conexión Voluntaria</title>
  </head>
  <body bgcolor="grey">
  <div><input type="button" onclick="location.href='http://localhost:8080'" value="Inicio">
<input type="button" onclick="location.href='http://localhost:8080/nosotros'" value="Nosotros">
<input type="button" onclick="location.href='http://localhost:8080/novedades'" value="Novedades">
<input type="button" onclick="location.href='http://localhost:8080/FAQ'" value="FAQ"> 
<input type="button" onclick="location.href='http://localhost:8080/contacto'" value="Contacto">
 </div> <br/>
  <div>
  <h1>FAQ</h1>
  <p>porque ser voluntario</p>
  <p>porque mi organizacion deberia estar aqui</p>
  <p>Preguntas</p>
  </div>

  </body>
</html>
