<!DOCTYPE html>

<html lang="es"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>CONEXION VOLUNTARIA</title>
  </head>
  <body>    
      <img class="logo"
        src="LOGO Conexion voluntaria.png"
        alt=""
        width="80"
        height="80"
      />
   
    <nav>
      <input
        type="button"
        onclick="location.href='http://localhost:8080'"
        value="Inicio"
      />
      <input
        type="button"
        onclick="location.href='http://localhost:8080/nosotros'"
        value="Nosotros"
      />
      <input
        type="button"
        onclick="location.href='http://localhost:8080/novedades'"
        value="Novedades"
      />
      <input
        type="button"
        onclick="location.href='http://localhost:8080/FAQ'"
        value="FAQ"
      />
      <input
        type="button"
        onclick="location.href='http://localhost:8080/contacto'"
        value="Contacto"
      />
    </nav>

    <div class="container">
      <div class="left">
        <div>
          <h1>VOLUNTARIADO</h1>
          <b><p>Juntos salvando vidas</p></b>
          <a href="/voluntario">UNITE</a>
        </div>
      </div>

      <div class="right">
        <div>
          <h1>ONG</h1>
          <b><p>La acción mas pequeña vale mas que la intención mas grande </p></b>
          <a href="/ong">UNITE</a>
        </div>
      </div>
    </div>
  </body>
</html>
