<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" /
    <title>Conexión Voluntaria</title>
  </head>
  <body bgcolor="blue">
  <div><input type="button" onclick="location.href='http://localhost:8080'" value="Inicio">
<input type="button" onclick="location.href='http://localhost:8080/nosotros'" value="Nosotros">
<input type="button" onclick="location.href='http://localhost:8080/novedades'" value="Novedades">
<input type="button" onclick="location.href='http://localhost:8080/FAQ'" value="FAQ"> 
<input type="button" onclick="location.href='http://localhost:8080/contacto'" value="Contacto">
 </div> <br/>
    <div class="container">
    <h1>Nosotros</h1>
    <p>Quienes somos, porque estamos realizando el proyecto,informacion de la pagina.
    Con algunas fotos</p>
    </div>
  </body>
</html>
