<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css" /
    <title>Document</title>
</head>
<body>
 <body bgcolor="red">
 <div><input type="button" onclick="location.href='http://localhost:8080'" value="Inicio">
<input type="button" onclick="location.href='http://localhost:8080/nosotros'" value="Nosotros">
<input type="button" onclick="location.href='http://localhost:8080/novedades'" value="Novedades">
<input type="button" onclick="location.href='http://localhost:8080/FAQ'" value="FAQ"> 
<input type="button" onclick="location.href='http://localhost:8080/contacto'" value="Contacto">
 </div> <br/>
    <div class="container">
      <button><a href="/ong/login">Ingresar</a></button>
    </div>
    <br />
    <div>
      <img src="ong.jpg" alt="Logo" width="150" height="150" />
    </div>
    <br />
    <div class="container">
      <button><a href="/registro">Registrarse</a></button>
    </div>
    <div class="container">
      <button><a href="/perfiles">Ir al listado de ONG</a></button>
    </div>
  </body>
  
</body>
</html>